/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: John Webster
Developer @GA in Melbourne
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
      background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}
  header {
      margin: auto;
      width: 80%;
      border: 0px solid #73AD21;
      padding: 10px;
      color: white;
  }

    #getit{
      width: 150px;
      height: 40px;
      padding: 10px;
      margin left: auto; /* can't get this thing to centre, tried block and inine block */
      margin right: auto;
      background: #f9e42e;
      border-radius: 5px;
      font-weight: 800;
      font-size: 14px;
      color: #606161;
      text-align: center;
    }


#benefits{
  width: 100%
  margin: auto;
  height: 400px;
  background-color: #f0efef;
  color: #606161;
}

      

  


footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
    font-weight: 800;
    font-size: 24px;
  }

  h2 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
  }

#ben-font2 {
    font-size: 20px;
    text-align: left;
}
