/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: John Webster
Developer @GA in Melbourne
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #f0efef; /* base font colour for the page*/
     /*font-size: 12px; deleted this for the moment*/
     /* TODO: check this font size is used anywhere */
     line-height: 1.4; /* Was originally set at 1.4 in the template - I think it needs to be higher to match the image if used at all */
     font-family: 'Open Sans', sans-serif;
     margin:0;
     display: flex;
     flex-wrap: wrap;
     border:0;
}




/******************************************
/* MAIN LAYOUT
/*******************************************/

  header {
    background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
    background-size: cover;
    width: 100%;
    margin: auto;
    height: 500px; /* sets the background picture to scale in the header */
  }

  main{
    width: 100%; /* full width to get the white bg across the page*/
    margin: auto;
    height: 250px; /* estimate only */
    background-color: #f0efef;
    color: #606161;

  }

  aside{
    background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
    background-size: cover;
    width: 100%;
    margin: auto;
    color: ##f0efef;
    height: 250px; /* sets the background picture to scale in the header */
  }

  footer{

  }


  /******************************************
  /* HEADER CLASSES
  /*******************************************/

  .top_header{
    padding-top: 30px;
    padding-left: 10%;
    height: 130px;
    width: 100%;
    font-weight: 800; /*Extra Bold */
    font-size: 24px;
  }

  .mid_header{

    padding-top: 45px; /* centre the text in a 130px block */
    height: 130px;
    width: 100%;
    font-weight: 600; /* Semi Bold */
    font-size: 24px;
    text-align: center;
  }

    .base_header{
      width: 150px;
      height: 40px;
      padding: 5px;
      background: #f9e42e;
      border-radius: 5px;
      font-weight: 800;
      font-size: 14px;
      color: #606161;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    /******************************************
    /* MAIN CLASSES
    /*******************************************/

    .top_main{
      padding-top: 10px;
      padding-left: 10%;
      height: 50px;
      width: 100%;
      font-weight: 600; /* Semi Bold */
      font-size: 20px;
    }

    .mid_main{
      padding-left: 10%;
      height: 50px;
      width: 60%;
      font-weight: 300; /* light font */
      font-size: 13px;
    }

    .base_main{
      padding-left: 15%;
      width: 60%;
      font-weight: 300; /* light font */
      font-size: 13px;
    }

#signup{
  width: 100%; /* full width to get the white bg across the page*/
  margin: auto;
  height: 100px; /*estimate only */
  background-color: #f9e42e;/* yellow bg */
  color: #606161; /* light grey */
}



#base {
  background-color: #121212; /* almost black */
  height: 400px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {

  }

  h2 {

  }

#ben-font2 {
    font-size: 20px; /* Inherit font weight from h2 */
    text-align: left;
}

p{
  font-weight: 300; /* light font */
  font-size: 13px;
}

li{
  font-weight: 300; /* light font */
  font-size: 13px;
}

blockquote{
  font-weight: 300; /* light font */
  font-style: italic;
  font-size: 18px;
  width: 35%; /* guess really*/
  padding-top: 5%; /* guess really */
  margin: auto;
  color: #f0efef; /* pincked the benefits background colour*/
}

h3{
  color: #f0efef; /* pincked the benefits background colour*/
  font-weight: 600; /* Semi Bold */
  font-size: 18px;
  text-align: center;
}
