/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: John Webster
Developer @GA in Melbourne
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}



/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #f0efef; /* base font colour for the page*/
     /*font-size: 12px; deleted this for the moment*/
     /* TODO: check this font size is used anywhere */
     line-height: 1.4; /* Was originally set at 1.4 in the template - I think it needs to be higher to match the image if used at all */
     font-family: 'Open Sans', sans-serif;
     margin:0;
     display: flex;
     flex-wrap: wrap;
     border:0;
}

img
{
margin: 30px; /* pad images with a 30 pixel boarder all around */
}


/******************************************
/* MAIN LAYOUT
/*******************************************/

  header {
    background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
    background-size: cover;
    width: 100%;
    margin: auto;
    height: 650px;/* sets the background picture to scale in the header */
  }

  main{
    width: 100%; /* full width to get the white bg across the page*/
    margin: auto;
    height: 630px; /* estimate only */
    background-color: #f0efef;
    color: #606161;

  }

  aside{
    background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
    background-size: cover;
    width: 100%;
    margin: auto;
    color: ##f0efef;
    height: 400px; /* sets the background picture to scale in the header */

  }

  footer{
    width: 100%; /* full width to get the white bg across the page*/
    margin: auto;
    height: 300px; /* estimate only */
    background-color: yellow;/* yellow bg */
    text-align: center;
  }


  /******************************************
  /* HEADER CLASSES
  /*******************************************/

  .top_header{
    padding-top: 30px;
    padding-left: 10%;
    height: 130px;
    width: 100%;
    font-weight: 800; /*Extra Bold */
    font-size: 48px;
  }

  .mid_header{

    padding-top: 45px; /* centre the text in a 130px block */
    height: 200px;
    width: 100%;
    font-weight: 600; /* Semi Bold */
    font-size: 48px;
    text-align: center;
  }

  .base_header{
    width: 300px;
    height: 60px;
    padding: 10px;
    background: #f9e42e;
    border-radius: 5px;
    font-weight: 800;
    font-size: 28px;
    color: #606161;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

/******************************************
/* MAIN CLASSES
/*******************************************/

  .top_main{
    padding-top: 100px;
    padding-left: 10%;
    padding-bottom: 80px;
    height: 100px;
    width: 100%;
    font-weight: 600; /* Semi Bold */
    font-size: 40px;
  }

  .mid_main{
    padding-left: 10%;
    height: 130px;
    width: 60%;
    font-weight: 300; /* light font */
    font-size: 26px;
  }

  .base_main{
    padding-left: 15%;
    width: 60%;
    font-weight: 300; /* light font */
    font-size: 30px;
  }

/******************************************
/* ASIDE CLASSES
/*******************************************/

  .top_aside{
    font-weight: 300; /* light font */
    font-style: italic;
    font-size: 36px;
    width: 45%; /* guess really*/
    padding-top: 50px; /* guess really */
    margin: auto;
    color: #f0efef; /* pincked the benefits background colour*/

  }

  .base_aside{
    font-weight: 600; /* Semi Bold */
    font-size: 36px;
    width: 45%; /* guess really*/
    padding-top: 10px;
    margin: auto;
    color: #f0efef; /* pincked the benefits background colour*/
    text-align: center;
  }

  #base {
    background-color: #121212; /* almost black */
    height: 400px;
  }


/******************************************
/* FOOTER CLASSES
/*******************************************/
  .spacer_footer{
    height: 30px;
    width: 100%;
  }
  .top_footer{

    width: 300px;
    height: 60px;
    padding-top: 35px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 28px;
    color: #white;
    margin-left: auto;
    margin-right: auto;
    background-color: #033048; /* dark blue as per design file */
  }

  .mid_footer{
    height: 250px;
    width: 100%;
    padding-top: 40px;
    font-weight: 800; /*Extra Bold */
    font-size: 50px;
    color: #f9e42e; /* design file yellow */
    background-color: #121212; /* almost black from design file*/
  }

  .base_footer{
    height: 100px;
    width: 100%;

    font-weight: 600; /* Semi Bold */
    font-size: 18px;
    color: white;
    background-color: #121212; /* almost black from design file*/
  }
